<!DOCTYPE html>
<html>
    <head>
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- NOTE: the path to the CSS is prefixed with / because it needs to find it in the root directory,
         which is where it resides -->
    <!-- <link rel="stylesheet" href="/app.css"> -->
    </head>

    <body>
