/*Element*/
li {

}
/*class*/
.hello {

}
/*id*/
#name {

}

/*Star - selects all */

* {
	border: 1px solid lightgrey;
}

/*Descendant Selector 
(selectors chained together and qualified; here all anchors inside an li) */

li a {
	color: darkblue;
}

/*Adjacent Selector; lets us select sibling elements. Here all ul selectors 
that come after an h4*/

h4 + ul {
	border: 4px solid red;
}


/*Attribute Selector; selected based on any attribute. Here selection based off href,
where href is google.com. */

a[href="http://www.google.com"] {
	background: lightgreen;
}

/* more on Attribute selector: for instance:
input [type="checkbox"] {
    background: blue;
}
*/

/*nth of type - takes a number like 3 or 5 and selects every nth of a specific element*/

/* select the final ul (3rd one in a group) */
ul:nth-of-type(3) {
    background: purple;
}

/* select odd number items with a background */
li:nth-of-type(odd){
	background: steelblue;
}
