<% include partials/header %>

<div class="container">
    <!-- Like a div, with more semantic meaning -->
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpSki!</h1>
            <p>View our hand-picked ski areas from all over the US.</p>
            <p>
                <a class="btn btn-primary btn-large" href="skiareas/new">Add New Ski Area</a>
            </p>
        <div>
    </header>

    <!-- display: and flex-wrap will be put into a stylesheet later.
    These are properties that help with the grids. -->
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% skiareas.forEach(function(skiarea) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= skiarea.image %>"">
                    <div style="margin: auto 0;" class="caption">
                        <h4><%= skiarea.name %></h4>
                    </div>
                    <a href="/skiareas/<%= skiarea._id %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<% include partials/footer %>
