<% include partials/header %>

<div style="margin: auto 20px;" >
    <h1><%=campground.name%></h1>

    <img src=<%=campground.image%>>

    <p style="margin: 10px 0;"><%= campground.description %></p>
</div>

<% include partials/footer %>
