<!DOCTYPE html>
<html>
    <head>
    <title>Demo EJS</title>
    <!-- NOTE: the path to the CSS is prefixed with / because it needs to find it in the root directory,
         which is where it resides -->
    <link rel="stylesheet" href="/app.css">
    </head>

    <body>
